:root {
  --width: 400px;
}

.CarArticle {
  background-color: antiquewhite;
  width: var(--width);
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 5px 3px lightgray;
}
.CarArticle h3 {
  font-size: 30px;
  margin: 10px;
}

.CarArticle img {
  width: var(--width);
}

.CarArticle p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
